.venv/
__pycache__/
*.py[cod]
*$py.class


# repo root
main.py

# ./api
api/ngrok-port
api/ngrok-url

# ./weights
# ignore everything under weights, recursively
weights/**
# but keep:
!weights/sft_lora.dvc
!weights/final_rlm_lora.dvc
!weights/.gitkeep